.categories-container{
    height: 58px;
    width: 439px;

    width:100%;
    margin: 32px auto 16px;
}
.categorie{
    position:relative;  
}

.categories__select{
  position: absolute;
  width: 439px;

  width:264px;
  border: solid 3px #c4c4c4;
  border-radius: 6px;
  padding:3px;
  background-color: #fff;
}
@media (min-width: 360px) {
  .categories__select{
     width:304px;
  }
}
@media (min-width: 600px) {
  .categories__select{
     width:439px;
  }
}
.categories__category i{
font-size: 12px;
}

.categories__category{
  display: flex;
  justify-content: space-between;
  align-items:center;
  height: 58px;
  padding: 16px;
  border-radius: 6px;
  cursor: pointer;

  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.63;
  letter-spacing: -0.52px;
  text-align: left;
  color: #c4c4c4;
}

.categories__option{
    display:none;
}
.categories__option--active{
    display:block;
}

.categories__category--dark{
   color: #34394f;
   border-color: #34394f;
}

.categories__category--dark:hover{
  background-color: #e9e9e9;
  font-weight: 600;
}